{% extends 'layout.html' %}
{% block page_title %}NLTK 3.0 Simple API - About{% endblock %}
{% block title %}About NLTK 3.0 and the author of this API {% endblock %}
{% block content %}
<h2>Who created this handy API?</h2>
<p>Szymon "Szyku" Szymański is a passionate software engineer who always seeks occasions to broad his horizons. You can find him on <a href="https://www.linkedin.com/in/szyku">LinkedIn</a>.</p>
<h2>Why this has happened?</h2>
<p>This simple wrapper API was created as a supportive technology for a fun project. Because it's so fun to use, the author decided to release it to the public.</p>
<h2>What the heck is NLTK?</h2>
<p>NLTK stands for Natural Language ToolKit which is an <a href="">open source project</a> about natural language processing. Here's a preview from the project's site:</p>
<blockquote>NLTK is a leading platform for building Python programs to work with human language data. It provides easy-to-use interfaces to over 50 corpora and lexical resources such as WordNet, along with a suite of text processing libraries for classification, tokenization, stemming, tagging, parsing, and semantic reasoning, wrappers for industrial-strength NLP libraries, and an active discussion forum.</blockquote>
<p>This little API is heavily using <a href="https://wordnet.princeton.edu/">WordNet</a> lexical databases which are very powerful, and without them, this project would be more challenging.</p>
{% endblock %}